<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>API Project: Timestamp Microservice</h2>
        <h3>User Stories :</h3>
        <ol class="user-stories">
          
          <li>The API endpoint is <p>
            
            <code>GET https://west-turkey.glitch.me/api/timestamp/:date_string?</code></p></li>
          <li>A date string is valid if can be successfully parsed by <code>new Date(date_string)</code>.<br>
          Note that the unix timestamp needs to be an <strong>integer</strong> (not a string) specifying <strong>milliseconds</strong>.<br> 
          In our test we will use date strings compliant with ISO-8601 (e.g. <code>"2016-11-20"</code>) because this will ensure an UTC timestamp.</li>
          <li>If the date string is <strong>empty</strong> it should be equivalent to trigger <code>new Date()</code>, i.e. the service uses the current timestamp.</li>
          <li>If the date string is <strong>valid</strong> the api returns a JSON having the structure<br><code>{"unix": &lt;date.getTime()&gt;, "utc" : &lt;date.toUTCString()&gt; }</code><br>
            e.g. <code>{"unix": 1479663089000 ,"utc": "Sun, 20 Nov 2016 17:31:29 GMT"}</code></li>
          <li>If the date string is <strong>invalid</strong> the api returns a JSON having the structure <br>
              <code>{"unix": null, "utc" : "Invalid Date" }</code>. It is what you get from the date manipulation functions used above.
          </li>
        </ol>

        <h3>Example Usage:</h3>
        <ul>
          <li>
            <a href="https://west-turkey.glitch.me/api/timestamp/2015-12-15"><code>GET /api/timestamp/2015-12-25</code></a>
          </li>
          <li>
            <a href="https://west-turkey.glitch.me/api/timestamp/1450137600000"><code>GET /api/timestamp/1450137600000</code></a>
          </li>
          <li>
            <a href="https://west-turkey.glitch.me/api/timestamp/2019-08-30T07:04:05.763Z"><code>GET /api/timestamp/2019-08-30T07:04:05.763Z</code></a>
          </li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          <a href="https://github.com/MrcRjs/timestamp-api"><svg style="vertical-align: text-top" height="18" viewbox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>Source Code</a> 
          | Made with 🍫 by <a href="https://mrcrjs.github.io">Marco A. Rojas</a> for <a href="http://www.freecodecamp.com">freeCodeCamp</a>
        </p>
      </div>
   </body>

</html>
